.cocktail-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid darkorange;
}
.header-title {
    width: 50%;
}
.header-rating {
    width: 50%;
    text-align: center;
}

.card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 0;
}

.cocktail-info .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}